
@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}


<h5>Results:</h5>

<br />

@if (@Model.Sign != null)

{

    <img src=@Model.Imageplace />

    <br /><br />

    <p>Your Zodiacal sign would be: @Model.Sign</p>

    <p>Which translates in English to: @Model.Englishtrans</p>

    <p>The dates for this sign are: @Model.Dates</p>

    <p>@Model.Desc</p>




    <br />

    <p><em>Some information paraphrased from the <a href="https://labyrinthos.co/">Labyrinthos</a> site.</em></p>

}


<br />

@Model.Error




